.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 317px;
  min-height: 35vh;
  padding: 27px 48px;
  border: 1px solid #F8FAFC;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  margin: 40px 0px;
  @media (max-width: 600px){
    min-width: 280px;
  }
}

.input {
  height: 40px;
  margin-bottom: 18px;
  border: 1px solid #F8FAFC;
  border-radius: 5px;
  outline: none;
  background-color: #F8FAFC;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

  &:focus{
    border: 1px solid #6C5DD3;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }

  &:hover {
    box-shadow: 0 1px 4px #6C5DD3;
    transition: 0.2s;
  }
}

.button {
  padding: 8px;
  height: 45px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #6C5DD3;
  color: #F8FAFC;
  cursor: pointer;
  margin-top: 20px;
  min-width: 70%;
  font-size: 16px;

  &:hover {
    opacity: 0.7;
    transition: 0.3s;
  }
}