body {
  background-color: #f7f7f7;
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

.ant-select-selector {
  border: none !important;
  background-color: #F8FAFC !important;
}
.ant-select {
  border: none !important;
  background-color: #F8FAFC !important;
}
.ant-select-open{
  border: none !important;
  background-color: #F8FAFC !important;
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  border-color: transparent !important;
  box-shadow: none !important;
  background-color: #F8FAFC !important;
}
/* @tailwind base;
@tailwind components;
@tailwind utilities; */