@media (min-width: 768px) {
  .table {
    width: 90%;
    margin: auto;
    border-spacing:12px;

    th {
      text-align: start;
      background-color: #F8FAFC;
      margin-bottom: 5px;
      padding: 10px 15px;
      border-radius: 8px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
      height: 30px;
    }

    td {
      text-align: center;
      padding: 18px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
      max-height: 30px;
      
      :first-child {
        cursor: pointer;

        &:hover {
          opacity: 0.7;
          transition: 0.3s;
        }
      }
    }

    .tdDescription, .tdCategory, .tdDate {
      text-align: start;
    }
  }
}

@media (max-width: 767.9px) {
  .thead {
    display: none;
  }

  .table {
    width: 112%;
  
    tr {
      width: 100%;
      text-align: start;
      background-color: #F8FAFC;
      margin-bottom: 10px;
      border-radius: 18px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
      height: 120px;
    }

  }

  .tdDescription {
    font-weight: 700;
    padding-top: 17px;
  }

  .tdDescription, .tdDate, .tdCategory {
    display: block;
  }

  .tdCategory {
    padding-bottom: 15px;
  }

  .tdEdit, .tdValue {
    padding: 20px;
  }
}