.button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #6C5DD3;
  color: #F8FAFC;
  cursor: pointer;
  margin-top: 20px;

  &:hover {
    opacity: 0.7;
    transition: 0.3s;
  }
}

.input {
  padding: 0px 10px;
  height: 33px;
  margin-right: 20px;
  border: 1px solid #F8FAFC;
  border-radius: 5px;
  outline: none;
  background-color: #F8FAFC;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

  &:focus{
    border: 1px solid #6C5DD3;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }

  &:hover {
    box-shadow: 0 1px 4px #6C5DD3;
  }
}

.menuButton {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px;
  color: #cccccc;
  align-items: center;
  display: flex;
  font-size: 1rem;
  padding: 10px;
  &:hover {
    background-color: #6C5DD3;
    color: #cccccc;
    border-radius: 8px;
  }
}

.table {
  width: 100%;
  border-spacing:20px;

  th {
    text-align: start;
    background-color: #F8FAFC;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }

  td {
    text-align: start;
    padding: 18px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    
    :first-child {
      cursor: pointer;

      &:hover {
        opacity: 0.7;
        transition: 0.3s;
      }
    }
  }
}

.ant-select-selection {
  background-color: green;
}

.modalButtonPurple {
  background-color: #6C5DD3;
  color: #fff;
  border-radius: 5px;
  margin-left: 10px;
  height: 35px;
  width: 100px;
  border: none;
  cursor: pointer;
}

.modalButtonWhite {
    background: #F8FAFC;
    border: none;
    color: #6C5DD3;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Manrope", sans-serif !important;
}