.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 20vw;
  min-height: 35vh;
  padding: 30px;
  border: 1px solid #F8FAFC;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #F8FAFC;
  border-radius: 5px;
  outline: none;
  background-color: #F8FAFC;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

  &:focus{
    border: 1px solid #6C5DD3;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }

  &:hover {
    box-shadow: 0 1px 4px #6C5DD3;
  }
}

.button {
  padding: 8px;
  border: 1px solid #6C5DD3;
  border-radius: 8px;
  outline: none;
  background-color: #6C5DD3;
  color: #F8FAFC;
  cursor: pointer;
  margin-top: 20px;
  min-width: 120px;

  &:hover {
    background-color: #F8FAFC;
    color: #6C5DD3;
    transition: 0.3s;
  }
}