.ant-menu-item-selected {
  background-color: #6C5DD3 !important;
}

.ant-menu-item-selected a {
  color: white !important;
}

:where(.css-dev-only-do-not-override-fpg3f5).ant-menu-light .ant-menu-item-selected, :where(.css-dev-only-do-not-override-fpg3f5).ant-menu-light>.ant-menu .ant-menu-item-selected {
  color: #fff;
}